@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
    --primary-color: #9f63ff;
    --text-primary: #333333;
    --text-secondary: #666666;
    --bg-default: #f5f5f5;
    --bg-paper: #ffffff;
}

body {
  background-color: var(--bg-default);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-theme {
    --primary-color: #9f63ff;
    --text-primary: #ffffff;
    --text-secondary: #bbbbbb;
    --bg-default: #121212;
    --bg-paper: #1e1e1e;
}

* {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

.app-container {
    padding: 20px;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.loader {
    width: 100px;
    height: 100px;
}

.scrollableBox::-webkit-scrollbar {
    width: 1px;
    /* or 2px or 1px */
}

.scrollableBox::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #c8d0d8, #a3a4a4);
    border-radius: 2px;
}

.scrollableBox::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* For Firefox */
.scrollableBox {
    scrollbar-width: thin;
    scrollbar-color: #a3a4a4 #f1f1f1;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.card-animation {
    animation: fadeSlideIn 1s ease-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    z-index: 1;
    will-change: transform, box-shadow;
}

/* Override Material-UI's Paper styles */
.MuiPaper-root.card-animation {
    transition: transform 0.3s ease, box-shadow 0.3s ease !important;
}

.MuiPaper-root.card-animation:hover {
    transform: translateY(-5px) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15) !important;
}
